{% extends 'baseback.html.twig' %}

{% block title %}Modifier le Membre{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Modifier le Membre</h1>

    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
        {{ form_row(form.image, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.fullName, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.poste, {'attr': {'class': 'form-control'}}) }}

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_membre_index') }}" class="btn btn-secondary">Annuler</a>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
