{% extends 'baseback.html.twig' %}

{% block title %}Nouveau Membre{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Ajouter un Nouveau Membre</h1>

    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

    <div class="row">
        <div class="col-md-12 mb-3">
            {{ form_row(form.fullName, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-12 mb-3">
            {{ form_row(form.image, {'attr': {'class': 'form-control', 'accept': 'image/*'}}) }}
        </div>
        <div class="col-md-12 mb-3">
            {{ form_row(form.poste, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="text-end mt-4">
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
