{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idr</th>
                <td>{{ reservation.idr }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reservation.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ reservation.prenom }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ reservation.matricule }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ reservation.adresse }}</td>
            </tr>
            <tr>
                <th>Num</th>
                <td>{{ reservation.num }}</td>
            </tr>
           
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'idr': reservation.idr}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
