<!DOCTYPE html>
<html lang="en"><head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> {% block title %} AmEtap Admin {% endblock %}</title>
  <!-- plugins:css -->
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('BackOffice/vendors/feather/feather.css')}}">
  <link rel="stylesheet" href="{{ asset('BackOffice/vendors/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{ asset('BackOffice/vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{ asset('BackOffice/vendors/typicons/typicons.css')}}">
  <link rel="stylesheet" href="{{ asset('BackOffice/vendors/simple-line-icons/css/simple-line-icons.css')}}">
  <link rel="stylesheet" href="{{ asset('BackOffice/vendors/css/vendor.bundle.base.css')}}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{ asset('BackOffice/vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('BackOffice//js/select.dataTables.min.css')}}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ asset('BackOffice/css/vertical-layout-light/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ asset('BackOffice/images/autorisation.png')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fcjtA2sN0mylcvDQgVjA03aT8C2d7D+PGngyY4wIS/LxDxCaF5a97y6B0DXR/28kLwYKlo3eCXXs8CqfqB6TyA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% endblock %}
</head>

<body class="with-welcome-text">
  <div class="container-scroller">
    <div class="row p-0 m-0 proBanner d-flex" id="proBanner">
      <div class="col-md-12 p-0 m-0">
        
      </div>
    </div>
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 d-flex align-items-top flex-row pt-5 mt-3">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="../index.html">
            <img src="{{ asset('../BackOffice/images/logo.png') }}" alt="Logo" style="width: 115px; height: auto;" class="me-1">
          </a>
          <a class="navbar-brand brand-logo-mini" href="../index.html">
            <img src="{{ asset('../BackOffice/images/logo.png') }}" alt="Logo" style="width: 115px; height: auto;" class="me-1">
          </a>
        </div>
      </div>
      <div style="margin-right: 50px;">
        <ul class="navbar-nav d-none d-lg-block">
          <li class="nav-item">
            <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker" style="margin-right: 10px; margin-left: 10px;">
              <span class="input-group-addon input-group-prepend border-right">
                <span class="icon-calendar input-group-text calendar-icon" style="margin-right: 5px;"></span>
              </span>
              <input type="text" class="form-control">
            </div>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </nav>
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper pt-0">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
  <div id="settings-trigger"><i class="ti-settings"></i></div>
  <div id="theme-settings" class="settings-panel">
    <i class="settings-close ti-close"></i>
    <p class="settings-heading">SIDEBAR SKINS</p>
    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
      <div class="img-ss rounded-circle bg-light border me-3"></div>Light
    </div>
    <div class="sidebar-bg-options" id="sidebar-dark-theme">
      <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
    </div>
    <p class="settings-heading mt-2">HEADER SKINS</p>
    <div class="color-tiles mx-0 px-4">
      <div class="tiles success"></div>
      <div class="tiles warning"></div>
      <div class="tiles danger"></div>
      <div class="tiles info"></div>
      <div class="tiles dark"></div>
      <div class="tiles default"></div>
    </div>
  </div>
</div>
<div id="right-sidebar" class="settings-panel">
  <i class="settings-close ti-close"></i>
  <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true" aria-selected="true">TO DO LIST</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section" aria-selected="false" tabindex="-1">CHATS</a>
    </li>
  </ul>
  <div class="tab-content" id="setting-content">
    <div class="tab-pane fade show active scroll-wrapper ps" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
      <div class="add-items d-flex px-3 mb-0">
        <form class="form w-100">
          <div class="form-group d-flex">
            <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
            <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
          </div>
        </form>
      </div>
      <div class="list-wrapper px-3">
        <ul class="d-flex flex-column-reverse todo-list">
          <li>
            <div class="form-check">
              <label class="form-check-label">
                <input class="checkbox" type="checkbox">
                Team review meeting at 3.00 PM
              <i class="input-helper"></i></label>
            </div>
            <i class="remove ti-close"></i>
          </li>
          <li>
            <div class="form-check">
              <label class="form-check-label">
                <input class="checkbox" type="checkbox">
                Prepare for presentation
              <i class="input-helper"></i></label>
            </div>
            <i class="remove ti-close"></i>
          </li>
          <li>
            <div class="form-check">
              <label class="form-check-label">
                <input class="checkbox" type="checkbox">
                Resolve all the low priority tickets due today
              <i class="input-helper"></i></label>
            </div>
            <i class="remove ti-close"></i>
          </li>
          <li class="completed">
            <div class="form-check">
              <label class="form-check-label">
                <input class="checkbox" type="checkbox" checked="">
                Schedule meeting for next week
              <i class="input-helper"></i></label>
            </div>
            <i class="remove ti-close"></i>
          </li>
          <li class="completed">
            <div class="form-check">
              <label class="form-check-label">
                <input class="checkbox" type="checkbox" checked="">
                Project review
              <i class="input-helper"></i></label>
            </div>
            <i class="remove ti-close"></i>
          </li>
        </ul>
      </div>
      <h4 class="px-3 text-muted mt-5 fw-light mb-0">Events</h4>
      <div class="events pt-4 px-3">
        <div class="wrapper d-flex mb-2">
          <i class="ti-control-record text-primary me-2"></i>
          <span>Feb 11 2018</span>
        </div>
        <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
        <p class="text-gray mb-0">The total number of sessions</p>
      </div>
      <div class="events pt-4 px-3">
        <div class="wrapper d-flex mb-2">
          <i class="ti-control-record text-primary me-2"></i>
          <span>Feb 7 2018</span>
        </div>
        <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
        <p class="text-gray mb-0 ">Call Sarah Graves</p>
      </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
    <!-- To do section tab ends -->
    <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
      <div class="d-flex align-items-center justify-content-between border-bottom">
        <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
        <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 fw-normal">See All</small>
      </div>
      <ul class="chat-list">
        <li class="list active">
          <div class="profile"><img src="{{ asset('../BackOffice/images/faces/face1.jpg')}}" alt="image"><span class="online"></span>
          </div>
          <div class="info">
            <p>Thomas Douglas</p>
            <p>Available</p>
          </div>
          <small class="text-muted my-auto">19 min</small>
        </li>
        <li class="list">
          <div class="profile"><img src="{{ asset('../BackOffice/images/faces/face2.jpg')}}" alt="image"><span class="offline"></span>
          </div>
          <div class="info">
            <div class="wrapper d-flex">
              <p>Catherine</p>
            </div>
            <p>Away</p>
          </div>
          <div class="badge badge-success badge-pill my-auto mx-2">4</div>
          <small class="text-muted my-auto">23 min</small>
        </li>
        <li class="list">
          <div class="profile"><img src="{{ asset('../BackOffice/images/faces/face3.jpg')}}" alt="image"><span class="online"></span>
          </div>
          <div class="info">
            <p>Daniel Russell</p>
            <p>Available</p>
          </div>
          <small class="text-muted my-auto">14 min</small>
        </li>
        <li class="list">
          <div class="profile"><img src="{{ asset('../BackOffice/images/faces/face4.jpg')}}" alt="image"><span class="offline"></span>
          </div>
          <div class="info">
            <p>James Richardson</p>
            <p>Away</p>
          </div>
          <small class="text-muted my-auto">2 min</small>
        </li>
        <li class="list">
          <div class="profile"><img src="{{ asset('../BackOffice/images/faces/face5.jpg')}}" alt="image"><span class="online"></span>
          </div>
          <div class="info">
            <p>Madeline Kennedy</p>
            <p>Available</p>
          </div>
          <small class="text-muted my-auto">5 min</small>
        </li>
        <li class="list">
          <div class="profile"><img src="{{ asset('../BackOffice/images/faces/face6.jpg')}}" alt="image"><span class="online"></span>
          </div>
          <div class="info">
            <p>Sarah Graves</p>
            <p>Available</p>
          </div>
          <small class="text-muted my-auto">47 min</small>
        </li>
      </ul>
    </div>
    <!-- chat tab ends -->
  </div>
</div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% block sidebar %}
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <!-- Accueil -->
          
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('baseBack') }}">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Accueil</span>
          </a>
      </li>
          <!-- Événements -->
          
          <li class="nav-item active">
            <a class="nav-link" data-bs-toggle="collapse" href="#Événements" aria-expanded="false" aria-controls="Événements">
              <i class="menu-icon mdi mdi-calendar"></i>
              <span class="menu-title">Événements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Événements">
              <ul class="nav flex-column sub-menu ">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_evenement_indexBack') }}">Liste des Événements</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_evenement_new') }}">Ajouter un Événement</a>
                </li>
              </ul>
            </div>
          </li>
      
          <!-- Bureau -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#bureau" aria-expanded="false" aria-controls="bureau">
              <i class="menu-icon mdi mdi-account"></i>
              <span class="menu-title">Bureau</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="bureau">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_membre_new') }}">Ajouter un membre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_membre_indexback') }}">Liste des membres</a>
                </li>
              </ul>
            </div>
          </li>
      
          <!-- Convention -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#conventions" aria-expanded="false" aria-controls="conventions">
              <i class="menu-icon mdi mdi-file-document-outline"></i>
              <span class="menu-title">Conventions</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="conventions">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_convention_new') }}">Ajouter une convention</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_convention_indexback') }}">Liste des conventions</a>
                </li>
              </ul>
            </div>
          </li>
      
          <!-- Suggestions -->
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="{{ path('app_suggestion_indexBack') }}">
              <i class="menu-icon mdi mdi-lightbulb-on-outline me-2"></i>
              <span class="menu-title">Suggestions</span>
            </a>
          </li>
        </ul>
      </nav>
      {% endblock %}
      
      

{% block content %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link ps-0 active" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                    </li>
                    
                    
                    
                  </ul>
                  <div>
                    <div class="btn-wrapper">
                      
                      
                      <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                    </div>
                  </div>
                </div>
                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="overview">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="statistics-details d-flex align-items-center justify-content-between">
                          <div>
                            <p class="statistics-title">Bounce Rate</p>
                            <h3 class="rate-percentage">32.53%</h3>
                            
                          </div>
                          <div>
                            <p class="statistics-title">Page Views</p>
                            <h3 class="rate-percentage">7,682</h3>
                            
                          </div>
                          <div>
                            <p class="statistics-title">New Sessions</p>
                            <h3 class="rate-percentage">68.8</h3>
                            
                          </div>
                          <div class="d-none d-md-block">
                            <p class="statistics-title">Avg. Time on Site</p>
                            <h3 class="rate-percentage">2m:35s</h3>
                            
                          </div>
                          <div class="d-none d-md-block">
                            <p class="statistics-title">New Sessions</p>
                            <h3 class="rate-percentage">68.8</h3>
                            
                          </div>
                          <div class="d-none d-md-block">
                            <p class="statistics-title">Avg. Time on Site</p>
                            <h3 class="rate-percentage">2m:35s</h3>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                    <h4 class="card-title card-title-dash">Market Overview</h4>
                                    
                                  </div>
                                  <div>
                                    <div class="dropdown">
                                      <button class="btn btn-light dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> This month </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <h6 class="dropdown-header">Settings</h6>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                  <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                                    <h2 class="me-2 fw-bold">$36,2531.00</h2>
                                    <h4 class="me-2">USD</h4>
                                    <h4 class="text-success">(+1.37%)</h4>
                                  </div>
                                  <div class="me-3">
                                    <div id="marketingOverview-legend"><ul>
                  <li>
                    <span style="background-color: #52CDFF"></span>
                    Last week
                  </li>
                
                  <li>
                    <span style="background-color: #1F3BB3"></span>
                    This week
                  </li>
                </ul><ul>
                  <li>
                    <span style="background-color: #52CDFF"></span>
                    Last week
                  </li>
                
                  <li>
                    <span style="background-color: #1F3BB3"></span>
                    This week
                  </li>
                </ul><ul>
                  <li>
                    <span style="background-color: #52CDFF"></span>
                    Last week
                  </li>
                
                  <li>
                    <span style="background-color: #1F3BB3"></span>
                    This week
                  </li>
                </ul><ul>
                  <li>
                    <span style="background-color: #52CDFF"></span>
                    Last week
                  </li>
                
                  <li>
                    <span style="background-color: #1F3BB3"></span>
                    This week
                  </li>
                </ul><ul>
                  <li>
                    <span style="background-color: #52CDFF"></span>
                    Last week
                  </li>
                
                  <li>
                    <span style="background-color: #1F3BB3"></span>
                    This week
                  </li>
                </ul><ul>
                  <li>
                    <span style="background-color: #52CDFF"></span>
                    Last week
                  </li>
                
                  <li>
                    <span style="background-color: #1F3BB3"></span>
                    This week
                  </li>
                </ul></div>
                                  </div>
                                </div>
                                <div class="chartjs-bar-wrapper mt-3">
                                  <canvas id="marketingOverview" width="602" height="150" style="display: block; box-sizing: border-box; height: 150px; width: 602px;"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        
                      </div>
                      <div class="col-lg-4 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h4 class="card-title card-title-dash">Todo list</h4>
                                      <div class="add-items d-flex mb-0">
                                        <!-- <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> -->
                                        <button class="add btn btn-icons btn-rounded btn-primary todo-list-add-btn text-white me-0 pl-12p"><i class="mdi mdi-plus"></i></button>
                                      </div>
                                    </div>
                                    <div class="list-wrapper">
                                      <ul class="todo-list todo-list-rounded">
                                        <li class="d-block">
                                          <div class="form-check w-100">
                                            <label class="form-check-label">
                                              <input class="checkbox" type="checkbox"> Lorem Ipsum is simply dummy text
                                              of the printing <i class="input-helper rounded"></i>
                                            <i class="input-helper"></i></label>
                                            <div class="d-flex mt-2">
                                              <div class="ps-4 text-small me-3">24 June 2020</div>
                                              <div class="badge badge-opacity-warning me-3">Due tomorrow</div>
                                              <i class="mdi mdi-flag ms-2 flag-color"></i>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="d-block">
                                          <div class="form-check w-100">
                                            <label class="form-check-label">
                                              <input class="checkbox" type="checkbox"> Lorem Ipsum is simply dummy text
                                              of the printing <i class="input-helper rounded"></i>
                                            <i class="input-helper"></i></label>
                                            <div class="d-flex mt-2">
                                              <div class="ps-4 text-small me-3">23 June 2020</div>
                                              <div class="badge badge-opacity-success me-3">Done</div>
                                            </div>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="form-check w-100">
                                            <label class="form-check-label">
                                              <input class="checkbox" type="checkbox"> Lorem Ipsum is simply dummy text
                                              of the printing <i class="input-helper rounded"></i>
                                            <i class="input-helper"></i></label>
                                            <div class="d-flex mt-2">
                                              <div class="ps-4 text-small me-3">24 June 2020</div>
                                              <div class="badge badge-opacity-success me-3">Done</div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="border-bottom-0">
                                          <div class="form-check w-100">
                                            <label class="form-check-label">
                                              <input class="checkbox" type="checkbox"> Lorem Ipsum is simply dummy text
                                              of the printing <i class="input-helper rounded"></i>
                                            <i class="input-helper"></i></label>
                                            <div class="d-flex mt-2">
                                              <div class="ps-4 text-small me-3">24 June 2020</div>
                                              <div class="badge badge-opacity-danger me-3">Expired</div>
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
{% endblock %}
    <!-- page-body-wrapper ends -->
  </div>
{% block js %}
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{ asset('BackOffice/vendors/js/vendor.bundle.base.js')}}"></script>
  <script src="{{ asset('BackOffice/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{ asset('BackOffice/vendors/chart.js/Chart.min.js')}}"></script>
  <script src="{{ asset('BackOffice/vendors/progressbar.js/progressbar.min.js')}}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{ asset('BackOffice/js/off-canvas.js')}}"></script>
  <script src="{{ asset('BackOffice/js/hoverable-collapse.js')}}"></script>
  <script src="{{ asset('BackOffice/js/template.js')}}"></script>
  <script src="{{ asset('BackOffice/js/settings.js')}}"></script>
  <script src="{{ asset('BackOffice/js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ asset('BackOffice/js/jquery.cookie.js')}}" type="text/javascript"></script>
  <script src="{{ asset('BackOffice/js/dashboard.js')}}"></script>
  <script src="{{ asset('BackOffice/js/proBanner.js')}}"></script>
  <!-- <script src="{{ asset('../../BackOffice/js/Chart.roundedBarCharts.js')}}"></script> -->
  <!-- End custom js for this page-->
{% endblock %}

</body>
</html>